<div class="card bg-light">
	<pre><a routerLink="/lugares">Lugares</a> / Crear</pre>
</div>
<div class="container">
	<label>Nombre</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.nombre" />
	<br />
	<label>Distancia</label>
	<input type="number" class="form-control" [(ngModel)]="lugar.distancia" />
	<br />
	<label>Cercania</label>
	<input type="number" class="form-control" [(ngModel)]="lugar.cercania" />
	<br />
	<label>Descripción</label>
	<textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
	<br />
	<label>Plan</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.plan" />
	<h3>Datos de Dirección</h3>
	<div class="card bg-light">
		<form>
			<label>Buscar Negocio en Google</label>
			<input [formControl]="searchField" type="text" class="form-control" />
		</form>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let result of results$ | async" (click)="seleccionarDireccion(result)">{{result.formatted_address}}</li>
		</ul>
	</div>
	<label>Ubicación</label>
	<input type="text" class="form-control" placeholder="Barquisimeto, Av Venezuela" [(ngModel)]="lugar.ubicacion" />
	<label>Estado</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.estado" />
	<label>País</label>
	<input type="text" class="form-control" [(ngModel)]="lugar.pais" />
	<hr />
	<a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
	<a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>